# Data Cleaning

## Objective
Clean and prepare the dataset by ensuring data consistency, handling missing values, and correcting data types.
This step ensures that the data is reliable before feature engineering and modeling.

In [46]:
import pandas as pd
import numpy as np

In [47]:
df = pd.read_csv(r"C:\Users\zouta\Desktop\Projets\Default Of Credit Cards Clients\data\raw\credit_default_data.csv")
df.shape

(30000, 25)

In [48]:
df.isnull().sum()

ID                            0
LIMIT_BAL                     0
SEX                           0
EDUCATION                     0
MARRIAGE                      0
AGE                           0
PAY_0                         0
PAY_2                         0
PAY_3                         0
PAY_4                         0
PAY_5                         0
PAY_6                         0
BILL_AMT1                     0
BILL_AMT2                     0
BILL_AMT3                     0
BILL_AMT4                     0
BILL_AMT5                     0
BILL_AMT6                     0
PAY_AMT1                      0
PAY_AMT2                      0
PAY_AMT3                      0
PAY_AMT4                      0
PAY_AMT5                      0
PAY_AMT6                      0
default payment next month    0
dtype: int64

The dataset does not contain missing values, which simplifies the cleaning process.

In [49]:
df.dtypes

ID                            int64
LIMIT_BAL                     int64
SEX                           int64
EDUCATION                     int64
MARRIAGE                      int64
AGE                           int64
PAY_0                         int64
PAY_2                         int64
PAY_3                         int64
PAY_4                         int64
PAY_5                         int64
PAY_6                         int64
BILL_AMT1                     int64
BILL_AMT2                     int64
BILL_AMT3                     int64
BILL_AMT4                     int64
BILL_AMT5                     int64
BILL_AMT6                     int64
PAY_AMT1                      int64
PAY_AMT2                      int64
PAY_AMT3                      int64
PAY_AMT4                      int64
PAY_AMT5                      int64
PAY_AMT6                      int64
default payment next month    int64
dtype: object

In [50]:
df.to_csv(r"C:\Users\zouta\Desktop\Projets\Default Of Credit Cards Clients\data\processed\credit_default_data_cleaned.csv", index=False)

In [51]:
df.isnull().sum()
df.dtypes

ID                            int64
LIMIT_BAL                     int64
SEX                           int64
EDUCATION                     int64
MARRIAGE                      int64
AGE                           int64
PAY_0                         int64
PAY_2                         int64
PAY_3                         int64
PAY_4                         int64
PAY_5                         int64
PAY_6                         int64
BILL_AMT1                     int64
BILL_AMT2                     int64
BILL_AMT3                     int64
BILL_AMT4                     int64
BILL_AMT5                     int64
BILL_AMT6                     int64
PAY_AMT1                      int64
PAY_AMT2                      int64
PAY_AMT3                      int64
PAY_AMT4                      int64
PAY_AMT5                      int64
PAY_AMT6                      int64
default payment next month    int64
dtype: object

In [52]:
if "ID" in df.columns:
    df = df.drop(columns=["ID"])

In [53]:
df.to_csv(r"C:\Users\zouta\Desktop\Projets\Default Of Credit Cards Clients\data\processed\credit_default_cleaned.csv", index=False)