# Feature Engineering

## Objective
Create meaningful features based on financial behavior and payment history to improve model performance.

In [11]:
import pandas as pd
import numpy as np
df = pd.read_csv(r"C:\Users\zouta\Desktop\Projets\Default Of Credit Cards Clients\data\processed\credit_default_cleaned.csv")
df.shape

(30000, 24)

In [12]:
df.columns

Index(['LIMIT_BAL', 'SEX', 'EDUCATION', 'MARRIAGE', 'AGE', 'PAY_0', 'PAY_2',
       'PAY_3', 'PAY_4', 'PAY_5', 'PAY_6', 'BILL_AMT1', 'BILL_AMT2',
       'BILL_AMT3', 'BILL_AMT4', 'BILL_AMT5', 'BILL_AMT6', 'PAY_AMT1',
       'PAY_AMT2', 'PAY_AMT3', 'PAY_AMT4', 'PAY_AMT5', 'PAY_AMT6',
       'default payment next month'],
      dtype='object')

In [13]:
pay_cols = ["PAY_0", "PAY_2", "PAY_3", "PAY_4", "PAY_5", "PAY_6"]

df["avg_pay_delay"] = df[pay_cols].mean(axis=1)
df["max_pay_delay"] = df[pay_cols].max(axis=1)

In [14]:
bill_cols = ["BILL_AMT1", "BILL_AMT2", "BILL_AMT3",
             "BILL_AMT4", "BILL_AMT5", "BILL_AMT6"]

df["avg_bill_amt"] = df[bill_cols].mean(axis=1)
df["credit_utilization"] = df["avg_bill_amt"] / df["LIMIT_BAL"]

In [15]:
pay_amt_cols = ["PAY_AMT1", "PAY_AMT2", "PAY_AMT3",
                "PAY_AMT4", "PAY_AMT5", "PAY_AMT6"]

df["avg_payment_amount"] = df[pay_amt_cols].mean(axis=1)

In [16]:
df[[
    "avg_pay_delay",
    "max_pay_delay",
    "credit_utilization",
    "avg_payment_amount"
]].describe()

       avg_pay_delay  max_pay_delay  credit_utilization  avg_payment_amount
count   30000.000000   30000.000000        30000.000000        30000.000000
mean       -0.182439       0.438733            0.373048         5275.232094
std         0.982176       1.345154            0.351890        10137.946323
min        -2.000000      -2.000000           -0.232590            0.000000
25%        -0.833333       0.000000            0.029997         1113.291667
50%         0.000000       0.000000            0.284834         2397.166667
75%         0.000000       2.000000            0.687929         5583.916667
max         6.000000       8.000000            5.364308       627344.333333

In [17]:
df.to_csv(r"C:\Users\zouta\Desktop\Projets\Default Of Credit Cards Clients\data\processed\credit_default_features.csv", index=False)